.sidebar-nav ul .sidebar-item .sidebar-router:hover{background-color:rgba(93,135,255,0.1);color:#5D87FF}
.sidebar-nav ul .sidebar-item
.sidebar-router{color:#2A3547;display:-webkit-box;
  display:-ms-flexbox;display:flex;font-size:14px;white-space:nowrap;
  -webkit-box-align:center;-ms-flex-align:center;align-items:center;
  line-height:25px;position:relative;margin:0px 0px 2px;padding:10px;
  border-radius:7px;gap:15px;font-weight:400}
/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");
